@font-face {
    font-family: 'QS-medium';
    src: url('../fonts/Quicksand/Quicksand-Medium.ttf') format('truetype') ;
}

body
{
    font-family: 'QS-medium';
}
.primary-background {
    background: #1d2671;
}

.ct-input
{
    background-color: transparent !important;
    border: none !important;
    border-bottom: 1px solid #000000 !important;
    border-radius: 0 !important;
}

.ct-input::placeholder{
    font-size: medium !important;
}

.btn-primary
{
    background-color: #1d2671 !important;
}

.link{
    text-decoration: none !important;
    color: #0c83f1 !important;
    font-weight: 500 !important;
}